# Path to the working directory
workdir = "${PANDA_CERT_DIR}"
# ACME server URL
acme_url = "${PANDA_ACME_URL}"
# Cloudflare API token
cf_api_token = "${PANDA_CF_API_TOKEN}"
# Cloudflare zone ID
cf_zone_id = "${PANDA_CF_ZONE_ID}"
# Auto set CAA record
auto_set_caa = true
# Domain to issue certificates for
domain = "${PANDA_LLM_DOMAIN}"
# Renew interval in seconds
renew_interval = 3600
# Number of days before expiration to trigger renewal
renew_days_before = 10
# Renew timeout in seconds
renew_timeout = 120
